@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.app-container{
  padding-top: var(--titlebar-height); /* To account for titlebar height. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img{
  margin: 25px 0px 25px 0px;
  width: 275px;
  height: auto;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark-gray);
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 80px 0px #00000099;
  width: 600px;
}

.title{
  font-size: 1.5rem;
  margin-bottom: 28px;
  font-weight: 500;
  color: white;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputs-container button{ /* All buttons have the same length. */
  font-family: 'Roboto Mono', monospace;
  width: 300px;
}

.version-container{
  position: fixed;
  left: 25px;
  bottom: 15px;
  color: white;
  font-size: 12px;

}

#btn-run-config, #btn-launch-sw, #btn-close-sw, #btn-open-config-editor{
  font-size: 12px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: none;
}

#btn-run-config:hover, #btn-launch-sw:hover, #btn-close-sw:hover, #btn-open-config-editor:hover{
  scale: 1.01;
  transition: 0.1s;
}

#btn-run-config:not(:hover), #btn-launch-sw:not(:hover), #btn-close-sw:not(:hover), #btn-open-config-editor:not(:hover){
  transition: 0.1s;
}

#btn-run-config{
  background-color: var(--primary-light-gray);
}

#btn-open-config-editor{
  background-color: var(--primary-light-gray);
}

#btn-launch-sw{
  background-color: var(--pm-cyan);
}

#btn-close-sw{
  background-color: var(--soft-red);
}

.mode-selector-container{
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-primary-gray);
  padding: 16px;
  border-radius: 12px;
}

.radio-container{
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  background: var(--primary-dark-gray);
  padding: 12px;
  border-radius: 8px;
}

.radio-parent-container{
  display: flex;
  gap: 16px;
}

.radio-container input[type=radio]{
  appearance: none;
  height: 18px;
  width: 18px;
  outline: 1px solid white;
  border-radius: 50%;
}

.radio-container input[type=radio]:checked{
  background-color: var(--pm-cyan);

}

.output-container{
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  color: white; /* Styling it to look like a terminal. */
  width: 100%; /* match width of button continaer */
  background-color: var(--primary-black);
  border-radius: 10px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  max-height: 275px;
  overflow-y: scroll;
  word-break: break-word; /* Handles really long horizontal strings so it doesn't extend larger than the parent. */
}

#loading-icon {
  width: 35px;
  height: 35px;
  border: 6px solid var(--primary-dark-gray); /* (track) */
  border-top: 6px solid var(--pm-cyan); /* (moving part) */
  border-radius: 50%;                 /* Makes it a circle */
  animation: spin 1s linear infinite; /* Spinning animation */
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Scrollbar Track */
.output-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Thumb */
.output-container::-webkit-scrollbar-thumb {
  background: var(--primary-dark-gray);
  border-radius: 12px;
}

/* Scrollbar Thumb on hover */
.output-container::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light-gray);
}

/* Scrollbar Track Background */
.output-container::-webkit-scrollbar-track {
  background: var(--primary-black);
  border-radius: 12px;
}

.error-line{
  line-height: 16px;
  color: var(--soft-red);
  font-size: 12px;
  white-space: pre-wrap; /* Preserve whitespace and allow wrapping + newlines */
}

.success-line{
  color: var(--success-green);
  font-size: 12px;
  white-space: pre-wrap; /* Preserve whitespace and allow wrapping + newlines */
}

.output-line { /* Standard output line that isnt labelled as an error or success. */
  color: white;
  font-size: 12px;
  white-space: pre-wrap;
}

.edit-config-modal-container{ /* For positioning purposes only, try not to add styles to it. */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  word-break: break-word; /* Handles really long horizontal strings so it doesn't extend larger than the parent. */
}

.edit-config-modal-container::-webkit-scrollbar{
  display: none;
}

.open-modal-cover{
  position: fixed;       /* cover entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.5); /* dim background */
  z-index: 999;         /* very high to cover everything */
  display: flex;         /* center modal */
  justify-content: center;
  align-items: center;
  pointer-events: auto;  /* default, ensures overlay captures clicks */
}
