#edit-config-textarea{
    width: 700px;
    height: 700px;
    resize: none;
    color: black;
    white-space: pre-wrap; /* Prevent horizontal scrolling by wrapping text */
    word-wrap: break-word;
    scrollbar-width: none;
    background-color: #BEC5CD;
    border: none;
    padding: 16px;
    border-radius: 16px;
}

#edit-config-textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

#edit-config-textarea:focus{
    outline: none;
}

#btn-edit-config-close, #btn-edit-config-save{
    border-radius: 12px;
    padding: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border: none;
    position: absolute;
    cursor: pointer;
}

#btn-edit-config-close:hover, #btn-edit-config-save:hover{
    transform: scale(1.01);
    transition: 0.1s;
}

#btn-edit-config-close:not(:hover), #btn-edit-config-save:not(:hover){
    transition: 0.1s;
}

#btn-edit-config-close{
    right: 15px;
    top: 15px;
    width: 75px;
    font-size: 12px;
    background-color:  #ff9dab;
}

#btn-edit-config-save{
    right: 15px;
    bottom: 15px;
    width: 75px;
    font-size: 12px;
    background-color: #05DDDD;
}
