.warning-container {
  position: absolute;
  right: 115px;

  display: inline-block;
  cursor: pointer;
}

.warning-icon {
  font-size: 36px;
  position: relative; /* For positioning the modal */
}

/* Modal always exists, but starts hidden */
.warning-modal {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.4s ease;
  visibility: hidden;
  position: absolute;
  bottom: 60px; /* Position relative to the icon */
  left: 0;
  right: 80px;
  width: 300px;
  background-color: var(--warning-yellow);
  color: var(--warning-yellow-text);
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

/* Only show modal when hovering over the icon */
.warning-icon:hover + .warning-modal {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.warning-modal:not(:hover){
    transition: 0.4s;
}
