@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img{
  margin: 15px;
  width: 350px;
  height: auto;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444C55; /* Primary dark grey. */
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 80px 0px #00000099;
  width: 600px;
}

.title{
  font-size: 2rem;
  margin-bottom: 28px;
  font-weight: 500;
  color: white;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.inputs-container button{ /* All buttons have the same length. */
  width: 300px;
}

.inputs-container #btn-sim-server, .inputs-container #btn-target-server, .inputs-container #btn-run-config{
  background-color: #BEC5CD;
  border-radius: 12px;
  padding: 12px;
}

#btn-launch-sw{
  background-color: #05DDDD; /* PMCyan */
  border-radius: 12px;
  padding: 12px;
}

#btn-close-sw{
  background-color: #ff9dab;
  border-radius: 12px;
  padding: 12px;
}

.mode-selector-container{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #212326 5.8%, #444C55 94.2%);
  padding: 16px;
  border-radius: 12px;
}

.radio-container{
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  background: #444C55;
  padding: 12px;
  border-radius: 8px;
}

.radio-container input[type=radio]{
  appearance: none;
  height: 18px;
  width: 18px;
  outline: 1px solid white;
  border-radius: 50%;
}

.radio-container input[type=radio]:checked{
  background-color: #05DDDD;

}


.output-container{
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: white; /* Styling it to look like a terminal. */
  width: 100%; /* match width of button continaer */
  background-color: #0C0C0C; /* Primary black. */
  border-radius: 10px;
  padding: 16px;
  box-shadow: 'rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px';
  max-height: 300px;
  overflow-y: scroll;
}

.error-line{
  line-height: 16px;
  color: rgb(255, 155, 155);
  font-size: 12px;
  white-space: pre-wrap; /* Preserve whitespace and allow wrapping + newlines */
}

.success-line{
  color: rgb(157, 253, 157);
  font-size: 12px;
  white-space: pre-wrap; /* Preserve whitespace and allow wrapping + newlines */
}

.output-line { /* Standard output line that isnt labelled as an error or success. */
  color: white;
  font-size: 12px;
  white-space: pre-wrap;
}
