@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img{
  margin: 15px;
  width: 350px;
  height: auto;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444C55; /* Primary dark grey. */
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 80px 0px #00000099;
  width: 400px;
}

.title{
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 500;
  color: white;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.inputs-container button{ /* All buttons have the same length. */
  width: 100%;
}

.inputs-container #btn-sim-server, .inputs-container #btn-target-server{
  background-color: #BEC5CD;
  border-radius: 12px;
  padding: 12px;
}

#btn-launch-ui{
  background-color: #05DDDD; /* PMCyan */
  border-radius: 12px;
  padding: 12px;
}


.output-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: white; /* Styling it to look like a terminal. */
  width: 100%; /* match width of button continaer */
  background-color: #0C0C0C; /* Primary black. */
  border-radius: 10px;
  padding: 16px;
  box-shadow: 'rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px';
}
