@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto Mono", Inter;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("../assets/background.jpg")
}
